

.background{
  background-image:url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);

}

header{

}

nav ul{
  width: auto;
  height: 50px;
  background-color: silver;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
li, a{
  color: black;
  list-style:none;
}

h1{
  font-size: 45px;
  margin: 40px;
  display: flex;
  justify-content: center;

}

h2{
  margin: 30px;
}

p{
  font-size: 18px;
}

.bonjour{

  font-size: 35px;
}
.presentation
{
width: 500px;
text-align: justify;
float: right;
margin-right: 300px;
}

.description {
    width: 350px;
    text-align: justify;
    float: right;
    margin-right: 200px;
    margin-top: 45px;
     /* Marge intérieure de 12px */
}
.left{
  float:left;
}

.right{
  float:right;
}

.chambres{
  width: 600px;
  font-size: 25px;
  margin-left: 20px;

}
.duo{
  float:right;
  margin-bottom:200px;
}

.monuments{
  margin-left: 100px;
}
.restaurants{
  margin-left: 250px;
}

img{
  border: 5px solid black;
}

address{
  font-size: 20px;
}
.contacts{
  display: flex;
  justify-content: space-around;
}
.maps{
    width: 600px;
    height: 450px;
  border: 5px solid black;
}

.formulaire{
  padding: 20px;
  border: 5px solid black;
  width: 300px;
  height: 300px;
}

.reservation{
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

.left{
margin-left: 150px;
}


.Right{
margin-right: 40px;
}

.window
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: silver;
  border-radius: 5px;
  bottom: 0;
  position: fixed;
  width: 1410px;
  margin: 0;
}



button{
  cursor:pointer;
}



.tarifs{

}


footer {

}
